@import 'tailwindcss';

@theme {
	--color-clinical-red: #f43f5e;
	--color-clinical-bg: #000000;
	--color-clinical-surface: #050505;
	--color-clinical-border: #141414;
	--color-clinical-text: #ffffff;
	--color-clinical-muted: #444444;

	--font-mono: 'Space Mono', monospace;
	--font-sans: 'Inter', sans-serif;
}

@layer base {
	body {
		@apply font-mono bg-clinical-bg text-clinical-text tracking-tighter antialiased overflow-hidden;
	}

	::-webkit-scrollbar {
		@apply w-0.75;
	}
	::-webkit-scrollbar-track {
		@apply bg-transparent;
	}
	::-webkit-scrollbar-thumb {
		@apply bg-clinical-border;
	}
	::-webkit-scrollbar-thumb:hover {
		@apply bg-clinical-red;
	}
}

@layer components {
	.scanline {
		@apply absolute top-0 left-0 w-full h-full pointer-events-none z-20;
		background: linear-gradient(to bottom, transparent, rgba(244, 63, 94, 0.02), transparent);
		animation: scan 6s linear infinite;
	}

	input,
	textarea {
		@apply bg-transparent border-none outline-none text-white text-sm;
	}
}

@keyframes scan {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(100%);
	}
}
